preprocessor frag3_global
preprocessor frag3_engine

#Exercicio 3
#alert tcp any any -> any 4567 (msg:"Exercicio 3: server session"; sid:20230509; rev:0;)

#Exercicio6
#alert tcp any any -> any 4567 (flags:S;msg:"Exercicio 6: SYN RECEIVED"; sid:20230510;rev:0;)

#Exercicio7
#alert tcp 10.101.149.44 any -> any 4567 (flags:S;msg:"Exercicio 7: SYN RECEBIDO DA MAQUINA B"; sid:20230511; rev:0;)

#Exercicio8
#alert tcp 10.101.149.0/23 any -> any 4567 (flags:S;msg:"Exercicio 8: SYN RECEBIDO DA NAQUINA B"; sid:20230512; rev:0;)

#Exercicio9
#alert ICMP 10.101.149.0/23 any -> any any (msg:"Pinged by Maquina B"; sid:20230513; rev:0;)

#Exercicio10 (3 Pings num espaço de 60 segundos)
#alert ICMP any any -> any 4567 (msg:"3 Ou mais pings detetados!"; sid:20230513; rev:0; detection_filter: track by_src, count 3, seconds 60;itype:8;)

#Exercicio10(3 Pings num espaço de 60 segundos) mas com event filter

#NOTA: Event filter é aplicado no alerta, sem alerta n aparece nada

#event_filter gen_id 1, sig_id 20230513, type threshold, track by_src, count 3, seconds 60
#alert ICMP any any -> any 4567 (msg:"3 Ou mais pings detetados!"; sid:20230513; rev:0;)
