preprocessor frag3_global

preprocessor frag3_engine

event_filter gen_id 1, sig_id 516010001, type threshold, track by_dst,
count 5, seconds 120

alert tcp any any -> any 1:2048 (flags:S;msg:"Conexao a IP abaixo de 2048 detetada";sid:5160100001;rev:0;)

alert tcp any any -> any 23456 (msg:"Multiplas conexoes ao porto servidor detetadas num curto espaco de tempo"; \
sid:516010002;rev:0; detection_filter: track by_src, count 4, seconds 40;)